<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<script src="../js/socket.io.js"></script>
	<script>
		var socket = io.connect(`http://${document.domain}:5000`);

		function join() {
		socket.emit("join", {
		room: "12",
		name: "Gabriel2"
		});
		}
		join()
		console.log("join")
		
		
		socket.on("channel", function (data) {
		console.log(data);

		});
		socket.on("join", function (data) {
		console.log(data);

		});
	</script>
</body>
</html>