<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HIVE MSG</title>


    <link
      rel="stylesheet"
      type="text/css"
      href="../css/claude.css"
    />

  </head>
  <body>
    <header>
      <button>
        <img
          src="../images/claude.svg"
          alt=""
        />
      </button>
      <h1>sender: <span id="sendername"></span></h1>
      <h2>user: <span id="username"></span></h2>
    </header>
    <main>
      <section id="msgs">
        
      </section>
      <div id="msg">
        <input type="text" name="msg" />
        <button id="send">enviar</button>
      </div>
    </main>
    <footer>
      <p>
        direitos reservados a
        <a
          href="https://gabrieelmarques.com.br"
          target="_blank"
          rel="noopener noreferrer"
          >gabrieel marques</a
        >
      </p>
    </footer>

      <!-- Armazena o dado em um atributo data-* -->
      <div id="data-container" data-sensitive="{{ sensitive_data }}" style="display: none;"></div>

    <script src="../js/script.js"></script>
  </body>
</html>
